/* .FormFavFilm {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  font-size: 30px;
}

.FormFavFilm h1 {
  text-align: center;
  font-size: 70px;
}

.FormFavFilm .form-data {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

.FormFavFilm .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
}

.FormFavFilm .form-data input:not([type="submit"]) {
  flex-grow: 1;
} */

.FormFavFilm {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.FormFavFilm form {
  width: max-content;
}

.FormFavFilm fieldset {
  padding: 20px 20px 10px 20px;
}

.form-data {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.comment {
  display: flex;
  align-items: flex-start;
}

.FormFavFilm input, textarea {
  margin-left: 10px;
  border: 1px solid black;
  width: 200px;
  padding: 5px;
}

.FormFavFilm button {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  height: 20px;
  margin-top: 5px;
}